.ship-listing {
  border: 1px solid #0c0101;
  padding: 10px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  color: black;
  background-color: aliceblue;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.ship-image {
  width: 200%;
  height: 300%;
  object-fit: cover;
}

.ship-name, .ship-price, .ship-class, .ship-level, .ship-land {
  margin: 5px 0;
}
