.ship-detail {
    text-align: center;
    padding: 20px;
  }
  
  .ship-image {
    width: 50%;
    height: auto;
    margin: 20px 0;
    object-fit: cover;
  }
  
  .ship-price, .ship-class, .ship-level, .ship-land, .ship-description {
    font-size: 1.2em;
    margin: 10px 0;
  }
  
  .buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    
  }
  
  button {
    display: inline-block;
    outline: 0;
    text-align: center;
    cursor: pointer;
    padding: 0px 16px;
    border-radius: 2px;
    min-width: 80px;
    height: 32px;
    background-color: rgb(0, 120, 212);
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 400;
    box-sizing: border-box;
    border: 1px solid rgb(0, 120, 212);
    :hover {
        background-color: rgb(16, 110, 190);
        border: 1px solid rgb(16, 110, 190);
    }

  }
  